In [14]:
import pandas as pd
kk = pd.read_csv('data/kc_house_data.csv')
kk.head(25)

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,10/13/2014,221900.0,3,1.00,1180,5650,1.0,NaN,NONE,...,7 Average,1180,0.0,1955,0.0,98178,47.5112,-122.257,1340,5650
1,6414100192,12/9/2014,538000.0,3,2.25,2570,7242,2.0,NO,NONE,...,7 Average,2170,400.0,1951,1991.0,98125,47.7210,-122.319,1690,7639
2,5631500400,2/25/2015,180000.0,2,1.00,770,10000,1.0,NO,NONE,...,6 Low Average,770,0.0,1933,NaN,98028,47.7379,-122.233,2720,8062
3,2487200875,12/9/2014,604000.0,4,3.00,1960,5000,1.0,NO,NONE,...,7 Average,1050,910.0,1965,0.0,98136,47.5208,-122.393,1360,5000
4,1954400510,2/18/2015,510000.0,3,2.00,1680,8080,1.0,NO,NONE,...,8 Good,1680,0.0,1987,0.0,98074,47.6168,-122.045,1800,7503
5,7237550310,5/12/2014,1230000.0,4,4.50,5420,101930,1.0,NO,NONE,...,11 Excellent,3890,1530.0,2001,0.0,98053,47.6561,-122.005,4760,101930
6,1321400060,6/27/2014,257500.0,3,2.25,1715,6819,2.0,NO,NONE,...,7 Average,1715,?,1995,0.0,98003,47.3097,-122.327,2238,6819
7,2008000270,1/15/2015,291850.0,3,1.50,1060,9711,1.0,NO,NaN,...,7 Average,1060,0.0,1963,0.0,98198,47.4095,-122.315,1650,9711
8,2414600126,4/15/2015,229500.0,3,1.00,1780,7470,1.0,NO,NONE,...,7 Average,1050,730.0,1960,0.0,98146,47.5123,-122.337,1780,8113
9,3793500160,3/12/2015,323000.0,3,2.50,1890,6560,2.0,NO,NONE,...,7 Average,1890,0.0,2003,0.0,98038,47.3684,-122.031,2390,7570
10,1736800520,4/3/2015,662500.0,3,2.50,3560,9796,1.0,NaN,NONE,...,8 Good,1860,1700.0,1965,0.0,98007,47.6007,-122.145,2210,8925
11,9212900260,5/27/2014,468000.0,2,1.00,1160,6000,1.0,NO,NONE,...,7 Average,860,300.0,1942,0.0,98115,47.6900,-122.292,1330,6000
12,114101516,5/28/2014,310000.0,3,1.00,1430,19901,1.5,NO,NONE,...,7 Average,1430,0.0,1927,NaN,98028,47.7558,-122.229,1780,12697
13,6054650070,10/7/2014,400000.0,3,1.75,1370,9680,1.0,NO,NONE,...,7 Average,1370,0.0,1977,0.0,98074,47.6127,-122.045,1370,10208
14,1175000570,3/12/2015,530000.0,5,2.00,1810,4850,1.5,NO,NONE,...,7 Average,1810,0.0,1900,0.0,98107,47.6700,-122.394,1360,4850
15,9297300055,1/24/2015,650000.0,4,3.00,2950,5000,2.0,NO,GOOD,...,9 Better,1980,970.0,1979,0.0,98126,47.5714,-122.375,2140,4000
16,1875500060,7/31/2014,395000.0,3,2.00,1890,14040,2.0,NO,NONE,...,7 Average,1890,0.0,1994,0.0,98019,47.7277,-121.962,1890,14018
17,6865200140,5/29/2014,485000.0,4,1.00,1600,4300,1.5,NO,NONE,...,7 Average,1600,0.0,1916,0.0,98103,47.6648,-122.343,1610,4300
18,16000397,12/5/2014,189000.0,2,1.00,1200,9850,1.0,NO,NONE,...,7 Average,1200,?,1921,0.0,98002,47.3089,-122.210,1060,5095
19,7983200060,4/24/2015,230000.0,3,1.00,1250,9774,1.0,NO,NONE,...,7 Average,1250,0.0,1969,0.0,98003,47.3343,-122.306,1280,8850
20,6300500875,5/14/2014,385000.0,4,1.75,1620,4980,1.0,NO,NONE,...,7 Average,860,760.0,1947,0.0,98133,47.7025,-122.341,1400,4980
21,2524049179,8/26/2014,2000000.0,3,2.75,3050,44867,1.0,NO,EXCELLENT,...,9 Better,2330,720.0,1968,0.0,98040,47.5316,-122.233,4110,20336
22,7137970340,7/3/2014,285000.0,5,2.50,2270,6300,2.0,NO,NONE,...,8 Good,2270,0.0,1995,0.0,98092,47.3266,-122.169,2240,7005
23,8091400200,5/16/2014,252700.0,2,1.50,1070,9643,1.0,NaN,NONE,...,7 Average,1070,0.0,1985,NaN,98030,47.3533,-122.166,1220,8386
24,3814700200,11/20/2014,329000.0,3,2.25,2450,6500,2.0,NO,NONE,...,8 Good,2450,0.0,1985,0.0,98030,47.3739,-122.172,2200,6865

In [2]:
kk['id'].value_counts()

795000620     3
1825069031    2
2019200220    2
7129304540    2
1781500435    2
             ..
7812801125    1
4364700875    1
3021059276    1
880000205     1
1777500160    1
Name: id, Length: 21420, dtype: int64

In [3]:
kk.loc[kk['id'] ==795000620, ['price'] ]

          price
17588  115000.0
17589  124000.0
17590  157000.0

In [11]:
kk['grade#'] = kk['grade'].str.split()
kk['grade#'] = kk['grade#'].str[0]
kk['grade#'] = kk['grade#'].astype(int)
kk.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,grade#
0,7129300520,10/13/2014,221900.0,3,1.00,1180,5650,1.0,NaN,NONE,...,1180,0.0,1955,0.0,98178,47.5112,-122.257,1340,5650,7
1,6414100192,12/9/2014,538000.0,3,2.25,2570,7242,2.0,NO,NONE,...,2170,400.0,1951,1991.0,98125,47.7210,-122.319,1690,7639,7
2,5631500400,2/25/2015,180000.0,2,1.00,770,10000,1.0,NO,NONE,...,770,0.0,1933,NaN,98028,47.7379,-122.233,2720,8062,6
3,2487200875,12/9/2014,604000.0,4,3.00,1960,5000,1.0,NO,NONE,...,1050,910.0,1965,0.0,98136,47.5208,-122.393,1360,5000,7
4,1954400510,2/18/2015,510000.0,3,2.00,1680,8080,1.0,NO,NONE,...,1680,0.0,1987,0.0,98074,47.6168,-122.045,1800,7503,8

In [13]:
kk.loc[kk['id'] ==795000620, ['grade#'] ]

       grade#
17588       5
17589       5
17590       5

In [16]:
kk['view'].value_counts()

NONE         19422
AVERAGE        957
GOOD           508
FAIR           330
EXCELLENT      317
Name: view, dtype: int64